name: E2E tests

on:
  pull_request:
    branches:
      - main
    paths:
      - "**.go"
      - "!**_test.go" # exclude test files to ignore unit test changes
      - "e2e/**_test.go" # include test files in e2e again
      - ".github/workflows/e2e-tests.yaml"

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

env:
    GO111MODULE: on

jobs:
  test-e2e:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

    - uses: engineerd/setup-kind@v0.6.2
      with:
        version: "v0.24.0"
        image: kindest/node:v1.34.0@sha256:7416a61b42b1662ca6ca89f02028ac133a309a2a30ba309614e8ec94d976dc5a

    - name: Testing kind cluster set-up
      run: |
        set -x
        kubectl cluster-info
        kubectl get pods -n kube-system -v 10
        echo "kubectl config current-context:" $(kubectl config current-context)
        echo "KUBECONFIG env var:" ${KUBECONFIG}

    - name: E2E test
      working-directory: ./e2e
      run: |
        KUBECONFIG=/home/runner/.kube/config \
        DOCKER_USERNAME=loft-sh \
        DOCKER_PASSWORD=${{ secrets.GITHUB_TOKEN }} \
        CONTAINER_REGISTRY=ghcr.io \
        go test -v -ginkgo.v -timeout 3600s
